 <%= form_for(@message, html: {class: "form-horizontal" , id:'name'  'age'  'body' }) do |f| %>
     <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
    <% end %>

  <div class="form-group">
     <label for="message_name" class="control-label col-md-2" id="name">名前:</label>
     <div class="col-md-10">
       <%= f.text_field :name, class: "form-control" %>
     </div>
     
     <label for="message_age" class="control-label col-md-2" id="age">年齢:</label>
     <div class="col-md-10">
       <%= f.text_field :age, class: "form-control" %>
     </div>
 
     <label for="message_body" class="control-label col-md-2" id="body">内容:</label>
     <div class="col-md-10">
       <%= f.text_area :body, :rows => 4, class: "form-control" %>
     </div>
 
     <div class="col-md-10 col-md-offset-2">
       <%= f.submit class: "btn btn-sm btn-primary" %>
     </div>
  </div>  
   
  <% end %>
  